#self_photo{
    width: 100%;
    
}
  * {
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-wrap: wrap;
  }
  

  .left_side_body{
    flex: 30%; 
    background-color: #f1f1f1; 
    padding: 20px;
    
 }
  .right_side_body{
    flex: 70%; 
    background-color: white;
    padding: 20px;
    
  }