/* 
  Author: Gurnoor Singh Batth  
  Date: 16 January 2023
 */



/* General Body styling*/
 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif
  }
  body { 
    background-color: #f1f1f1;
  }


/* Styling of container containing the entire contents of the page, except the footer*/
  .container{
    display: flex;
    flex-direction: row;
    overflow: visible;
    color:rgba(107, 106, 106, 0.945);
  }


/* Styling of container containing the left side of the resume*/
 .left_side_body{
    border-radius: 10px;
    flex: 35%; 
    background-color:white; 
    margin: 8px;
    box-shadow:  0px 0px 3px 4px rgb(213, 213, 213); 
  }

/* image styling*/
  #self_photo{ 
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    margin-bottom: 0;
    transition: 0.7s;
  }
  #self_photo:hover{
    transform: scale(1.03);
    transition: 0.5s;
  }


/* styling of text under the image*/
  #img_text{    
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-top: 0;
    padding: 10px;
    background-color:#29a69e ;
    color: azure;
    transition: 0.7s;

  }
  #img_text:hover{
    text-shadow: 0 0 1px azure;
    transform: scale(1.03);
    transition: 0.5s;
  }

/* styling of container with personal information*/
  .sub_detail{
    display: flex;
    flex-direction: row;  
  }
  .sub_detail2{
    margin-left: 10px;
  }


/* icon styling*/
  .personal_details{
    color:#29a69e  ;
  }
  .personal_details>i{
    transition: 0.5s;
  }
  .personal_details>i:hover{
    text-shadow: 0 0 1.5px #29a69e;
    transform: scale(1.3);
    transition: 0.3s;
  }
  


/* progress bar styling*/
.sliders>h2>i{
  transition: 0.5s;
}
.sliders>h2>i:hover{
  text-shadow: 0 0 1.5px #29a69e;
  transform: scale(1.3);
    transition: 0.3s;
}
 .detail_container{
    padding: 20px;
  }
  
  .skill_sliders{
    background-color: rgb(228, 228, 228);
    width: 100%;
    border-radius:9px;
    transition: 0.5s;
  
  }
  .skill_sliders:hover{
    box-shadow: 0 0 1.5px #29a69e;
    transform: scale(1.08);
    transition: 0.5s;
  }
  .percentage{
    background-color: #29a69e;
    text-align: center;
    color: azure;
    border-radius:9px;
    overflow: hidden;
  }




/* Styling of container containing the right side of the resume*/
 .right_side_body{
    display: flex;
    flex-direction: column;
  }


/* Styling of divs in the right container*/
  .topics{
    flex: auto;
    width: 99%;
    border-radius: 10px;
    flex: 65%; 
    background-color: white;
    padding: 0px 20px 20px 20px;
    margin:8px 20px 8px 8px;
    box-shadow:  0px 0px 3px 4px rgb(213, 213, 213);
  }


/* Styling of big headings in the right container*/
  .headings>i{
    color: #29a69e;
    transition: 0.3s;
  }
  .headings>i:hover{
    text-shadow: 0 0 1.5px #29a69e;
    transform: scale(1.1);
    transition: 0.3s;
  }
  .headings{
    text-align: center;
  }


/* Styling of sub headings in the right container*/ 
  .main_headings{
    margin-left: 50px;
  }
  .main_heading_style{
    display: flex;
    flex-direction: row;
    width: 100%;
  }


/* Styling of calender/date in the right side container*/ 
  .time_period{
    flex:30%;
    text-align: right;
    font-weight: lighter;
    color:#29a69e;
    
  }
  
  .current{
    height: 100%;
    background-color:#29a69e;
    padding: 4px 10px 4px 10px;
    color: azure;
    border-radius:9px;
    overflow: hidden;
    transition: 0.7s;
  }
  .current:hover{
    transition: 0.3s;
    box-shadow: 0 0 5px #29a69e;
    margin-top: -15px;
  }


/* Styling of icons of right side container*/
  .sub_headings>i,.time_period>i{
    color: #29a69e;
    transition: 0.5s;
  }
  .sub_headings>i:hover{
    text-shadow: 0 0 1.5px #29a69e;
    transform: scale(1.25);
    transition: 0.3s;
  }
  .time_period>i:hover{
    text-shadow: 0 0 1.5px #29a69e;
    transform: scale(1.25);
    transition: 0.3s;
  }

/* Styling of footer*/ 
  .foot{
    box-shadow:  0px 0px 3px 4px rgb(213, 213, 213);
    border-radius: 10px;
    background-color: #29a69e;
    padding: 10px;
    margin-top: 4px;
    margin-bottom: 8px;
    margin-right: 8px;
    margin-left: 8px;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    width: 99.25%;
    
  }
  .foot>h3{
    font-weight: 200;
    margin-bottom: 0.1px; 
    color: azure;
   }
  .foot>div{
    margin-bottom: 5px;
  } 


/* Styling of icons in the footer*/
  .social>a{
    color: azure;
  }
  .social>a>i{
    transition: 0.5s;
  }
  .social>a>i:hover {
    text-shadow: 0 0 1px azure;
    transform: scale(1.5);
    transition: 0.3s;
}
  
  
  

